<br><div class="container-fluid">
  <div class="row">

    <!-- ADD USER -->
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Lisää käyttäjä</div>
        <div class="panel-body">
          <form class="form-group">
            <label for="malesradio" class="radio-inline">
            <input id="malesradio" type="radio" ng-model="gender" value="M" checked>Mies</label>
            <label for="femalesradio" class="radio-inline">
            <input id="femalesradio" type="radio" ng-model="gender" value="F">Nainen</label>
            <br><br>
            <input id="firstname" class="form-control" type="text" ng-model="firstname" placeholder="Etunimi"><br>
            <input id="lastname" class="form-control" type="text" ng-model="lastname" placeholder="Sukunimi"><br>
            <input id="username" class="form-control" type="text" ng-model="username" placeholder="Käyttäjätunnus"><br>
            
            <label for="schoolselect">Koulu</label>
            <select id="schoolselect" class="form-control" ng-model="school" ng-options="school.schoolID as school.name for school in schoolsList" ng-change="changed()"></select><br>
            <span ng-show="school">
              <label for="classroomselect">Luokka</label>
              <select id="classroomselect" class="form-control" ng-model="classroom" ng-options="classroom.classroomID as classroom.name for classroom in classroomsList"></select><br>
            </span>
            <input id="password1" class="form-control" type="password" ng-model="password" placeholder="Salasana"><br>
            <input id="password2" class="form-control" type="password" ng-model="passwordCheck" placeholder="Sala uudestaan"><br>
            <input id="admin0" type="radio" ng-model="admin" value="0" checked>User</label>
            <input id="admin1" type="radio" ng-model="admin" value="1">Admin</label><br>
            <br><input type="button" class="btn btn-rova btn-block" value="Rekisteröidy" ng-click="onAddUserClick()"/>
          </form>
          <center>{{user_result}}</center>
        </div>
      </div>
    </div>

    <!-- ADD SCHOOL -->
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Lisää koulu</div>
        <div class="panel-body">
          <input class="form-control" type="text" ng-model="schoolname" placeholder="Koulu nimi"><br>
          <input type="button" class="btn btn-rova btn-block" value="Lisää koulu" ng-click="onAddSchoolClick()"/>
          <center>{{school_result}}</center>
        </div>
      </div>
    </div>

    <!-- ADD CLASSROOM -->
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Lisää luokka</div>
        <div class="panel-body">
          <label for="schoolselect">Koulu</label>
          <select id="schoolselect" class="form-control" ng-model="schoolAddClass" ng-options="school.schoolID as school.name for school in schoolsList" ng-change="classSchoolChanged()"></select><br>
          <input class="form-control" type="text" ng-model="classroomname" placeholder="Luokka nimi"><br>
          <input type="button" class="btn btn-rova btn-block" value="Lisää luokka" ng-click="onAddClassroomClick()"/>
          <center>{{classroom_result}}</center>
        </div>
      </div>
    </div>

    <!-- ADD ACHIEVEMENTS -->
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">Lisää Saavutukset</div>
        <div class="panel-body">
          <input class="form-control" type="text" ng-model="achievementName" placeholder="Saavutukset nimi"><br>
          <input type="number" ng-model="limite" min="1" max="100000" placeholder="Raja"><br><br>
          <input class="form-control" type="text" ng-model="description" placeholder="Kuvaus..."><br>
          <input type="button" class="btn btn-rova btn-block" value="Lisää Saavutukset" ng-click="onAddAchievementClick()"/>
          <center>{{achievement_result}}</center>
        </div>
      </div>
    </div>

    <!-- ADD SPORT -->
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Lisää liikunta</div>
        <div class="panel-body">
          <input class="form-control" type="text" ng-model="sportname" placeholder="Liikunta Nimi"><br>
          <input type="button" class="btn btn-rova btn-block" value="Lisää liikunta" ng-click="onAddSportClick()"/>
          <center>{{sport_result}}</center>
        </div>
      </div>
    </div>
  </div>
</div>
