<br><div class="container-fluid">
  <div class="row">

    <!-- ADD USER -->
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Lisää käyttäjä</div>
        <div class="panel-body">
          <form class="form-group">
            <label for="malesradio" class="radio-inline">
            <input id="malesradio" type="radio" ng-model="gender" value="M" checked>Mies</label>
            <label for="femalesradio" class="radio-inline">
            <input id="femalesradio" type="radio" ng-model="gender" value="F">Nainen</label>
            <br><br>
            <input id="firstname" class="form-control" type="text" ng-model="firstname" placeholder="Etunimi"><br>
            <input id="lastname" class="form-control" type="text" ng-model="lastname" placeholder="Sukunimi"><br>
            <input id="username" class="form-control" type="text" ng-model="username" placeholder="Käyttäjätunnus"><br>
            <label for="birthday">Syntymäaika</label>
            <input id="birthday" class="form-control" type="date" ng-model="birthday"><br>
            
            <label for="schoolselect">Koulu</label>
            <select id="schoolselect" class="form-control" ng-model="school" ng-options="school.schoolID as school.name for school in schoolsList" ng-change="changed()"></select><br>
            <span ng-show="school">
              <label for="classroomselect">Luokka</label>
              <select id="classroomselect" class="form-control" ng-model="classroom" ng-options="classroom.classroomID as classroom.name for classroom in classroomsList"></select><br>
            </span>
            <input id="password1" class="form-control" type="password" ng-model="password" placeholder="Salasana"><br>
            <input id="password2" class="form-control" type="password" ng-model="passwordCheck" placeholder="Sala uudestaan"><br>
            <br><input type="button" class="btn btn-primary btn-block" value="Rekisteröidy" ng-click="onAddUserClick()"/>
            {{user_result}}
          </form>
        </div>
      </div>
    </div>

    <!-- ADD SCHOOL -->
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Lisää koulu (school)</div>
        <div class="panel-body">
          <input class="form-control" type="text" ng-model="schoolname" placeholder="Koulu nimi"><br>
          <input type="button" class="btn btn-primary btn-block" value="Lisää koulu" ng-click="onAddSchoolClick()"/>
          {{school_result}}
        </div>
      </div>
    </div>

    <!-- ADD CLASSROOM -->
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Lisää luokka</div>
        <div class="panel-body">
          <label for="schoolselect">Koulu</label>
          <select id="schoolselect" class="form-control" ng-model="schoolAddClass" ng-options="school.schoolID as school.name for school in schoolsList" ng-change="classSchoolChanged()"></select><br>
          <input class="form-control" type="text" ng-model="classroomname" placeholder="Luokka nimi"><br>
          <input type="button" class="btn btn-primary btn-block" value="Lisää luokka" ng-click="onAddClassroomClick()"/>
          {{classroom_result}}
        </div>
      </div>
    </div>

    <!-- ADD ACHIEVEMENTS -->
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">Lisää Saavutukset</div>
        <div class="panel-body">
          <input class="form-control" type="text" ng-model="achievementName" placeholder="Saavutukset nimi"><br>
          <input type="number" ng-model="limite" min="1" max="100000" placeholder="Raja"><br><br>
          <input class="form-control" type="text" ng-model="description" placeholder="Kuvaus..."><br>
          <input type="button" class="btn btn-primary btn-block" value="Lisää Saavutukset" ng-click="onAddAchievementClick()"/>
          {{achievement_result}}
        </div>
      </div>
    </div>

    <!-- ADD ACTIVITY -->
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Lisää aktiviteetti</div>
        <div class="panel-body">
          <label for="newsportselect">Liikunta</label>
          <select class="form-control" ng-model="sport" ng-options="sport.sportID as sport.name for sport in sportsList"></select><br>
          <span ng-show="sport">
            <input class="form-control" ng-model="name" placeholder="Nimi"/><br>
          </span>
          <label for="newduration">Kesto</label>
          <select id="newduration" type="number" class="form-control" ng-model="duration" required>
            <option ng-repeat="duration in durations" value="{{duration}}">{{duration}}"</option>
          </select><br>
          <label>Vaikeustaso</label><br>
          <label class="radio-inline">
          <input type="radio" ng-model="level" value="E" checked>Kevyt</label>
          <label class="radio-inline">
          <input type="radio" ng-model="level" value="H">Raskas</label><br><br>
          <input type="button" class="btn btn-primary btn-block" value="Add Activity" ng-click="onAddActivityClick()"/>
          {{activity_result}}
        </div>
      </div>
    </div>

    <!-- ADD SPORT -->
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Lisää liikunta (sport)</div>
        <div class="panel-body">
          <input class="form-control" type="text" ng-model="sportname" placeholder="Liikunta Nimi"><br>
          <input type="button" class="btn btn-primary btn-block" value="Lisää liikunta" ng-click="onAddSportClick()"/>
          {{sport_result}}
        </div>
      </div>
    </div>
  </div>
</div>
