<div class="image"><img class="logo img-responsive align-to-center" width="400px" src="img/logo_line.png"/></div>
  <div class="container-fluid">
    <ul class="nav nav-tabs nav-justified">
			<li ui-sref-active="active" ui-sref="user.profile"><a data-toggle="tab"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a></li>
      <li ui-sref-active="active" ui-sref="admin.add"><a data-toggle="tab"><i class="fa fa-edit fa-3x" aria-hidden="true"></i></a></li>
			<li ui-sref-active="active" ui-sref="admin.delete"><a data-toggle="tab"><i class="fa fa-trash fa-3x" aria-hidden="true"></i></a></li>
			<li ui-sref-active="active" ui-sref="admin.feedback"><a data-toggle="tab"><i class="fa fa-list-alt fa-3x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div ui-view="menucontent"></div>