<br>
<div class="col-lg-12">
    <br><ul class="nav nav-tabs nav-justified">
        <li ng-class="{'active': currenttable == 'user'}"><a ng-click="tableChange('user')">Opiskelija</a></li>
        <li ng-class="{'active': currenttable == 'classroom'}"><a ng-click="tableChange('classroom')">Luokka</a></li>
        <li ng-class="{'active': currenttable == 'school'}"><a ng-click="tableChange('school')">Koulu</a></li>
        <li ng-class="{'active': currenttable == 'sport'}"><a ng-click="tableChange('sport')">Liikunta</a></li>
        <li ng-class="{'active': currenttable == 'achievement'}"><a ng-click="tableChange('achievement')">Saavutukset</a></li>
    </ul>
        <table class="table table-striped col-xs-12">
					<tr class="list-group" ng-repeat="entity in itemsList | orderBy: '-name'">
            <td ng-click="onItemClick(entity.id)"><a>{{entity.name}}</a></td>
					</tr>
        </table>
</div>
