<div class="input-group searchdiv">
	<input type="text" ng-enter="searchEnter()" class="form-control" placeholder="Haku" name="srch-term" id="srch-term" ng-model="search">
	<div class="input-group-btn">
			<button class="btn btn-default" ui-sref="user.profile({userName: search})">
			<i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4 col-xs-5">
		<input type="image" id="profilePicture" class="img-responsive" ng-click="onClickPicture()" width="200" height="200"><br>
	</div>
	<div style="text-align: center" class="col-md-4 col-xs-7">
		<p><span id="username" style="font-weight: bold">{{username}}</span> 
			<span ng-if="searchForAnother != ''" ui-sref="user.profile({userName: ''})">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
			</span>
		</p>
		<p>
			<span ng-hide="time == $0">{{time}} Pisteet</span>
			<span ng-show="time == $0">0 Pisteet</span>
		</p>
	</div>
	<div style="text-align: center" class="col-md-4 col-xs-12"><br>
		<div class="col-md-6"> Liikunta tänään: {{timeDay}}" ({{timeDayP}}%)
			<round-progress
				max="180"
				current="timeDay"
				color="#64B058"
				bgcolor="#eaeaea"
				stroke="5"
					radius="50"
				rounded="true"
				clockwise="true"
				responsive="false"
				duration="800"
				animation="easeInOutQuart"
				animation-delay="0">
			</round-progress>
		</div>

		<div class="col-md-6"> Liikunta viikko: {{timeWeek}}" ({{timeWeekP}}%)
			<round-progress
				max="1260"
				current="timeWeek"
				color="#64B058"
				bgcolor="#eaeaea"
				stroke="5"
					radius="50"
				rounded="true"
				clockwise="true"
				responsive="false"
				duration="800"
				animation="easeInOutQuart"
				animation-delay="0">
			</round-progress>
		</div>
	</div>
</div>
<hr>
<div ng-hide="showActivity">
	<h2 ng-click="showActivity = true" style="text-align: center">Saavutukset</h2><br>
	<div height="auto" style="horizontal-align: middle; vertical-align: middle; text-align: center">
		<div ng-repeat="achivement in achievementsList" id="{{achivement.name}}" class="achivement-medal">
			<image class="img-responsive" src="img/medal-2.png" /><br>
			<center>{{achivement.name}}</center><br>
			<center><i>{{achivement.date}}</i></center>
		</div>
	</div>
</div>
<div ng-show="showActivity">
	<h2 ng-click="showActivity = false" style="text-align: center">Aktiviteetti</h2><br>
	<table id="activitiestable" class="table table-striped">
	<thead>
		<tr class="rankingName" style="text-align: center" style="font-size: 90%">
			<td>Nimi</td>
			<td>Pisteet</td>
			<td>Kesto</td>
			<td>Päivä</td>
		</tr>
	</thead>
	<tbody style="font-size: 90%">
		<tr ng-repeat="entity in activities | orderBy: '-datetime'">
			<td style="text-align: center">
				<span> {{entity.sportName}}
				</span>
			</td>
			<td style="text-align: center">{{entity.points}}</td>
			<td style="text-align: center">{{entity.duration}}</td>
			<td style="text-align: center">{{entity.datetime}}</td>
		</tr>
	</tbody>
	</table>
</div>