<ul class="nav nav-tabs nav-justified">
  <li ng-class="{'active': currenttable == 'class'}"><a ng-click="tableChange('class')">Luokka</a></li>
  <li ng-class="{'active': currenttable == 'school'}"><a ng-click="tableChange('school')">Koulu</a></li>
</ul>
<table id="rankingtable" class="table table-striped">
<thead>
	<tr class="rankingName">
		<td>#</td>
		<td>Nimi</td>
		<td>Pisteet</td>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="entity in tabledata | orderBy: '-score'">
		<td class="col-xs-1">{{$index + 1}}</td>
		<td class="col-xs-7">
			<span ng-if="currenttable != 'student'"> {{entity.name}}
			</span>
		</td>
		<td class="col-xs-4">{{entity.points}}</td>
	</tr>
</tbody>
</table>
<div id="nonetwork"></div>
