<div class="rov-content">
<div class="col-md-3">
		</div>
<div class="col-md-6 col-xs-12 vcenter" id="registerPage">

	<div class="row">
		<h2 class="text-center">Rekisteröidy</h2>
	</div><br>
<form class="form-group">
	<label for="malesradio" class="radio-inline">
	<input id="malesradio" type="radio" ng-model="gender" value="M" checked>Mies</label>
	<label for="femalesradio" class="radio-inline">
	<input id="femalesradio" type="radio" ng-model="gender" value="F">Nainen</label>
	<br><br>
	<label for="firstname">Etunimi</label>
	<input id="firstname" class="form-control" type="text" ng-model="firstname"><br>
	<label for="lastname">Sukunimi</label>
	<input id="lastname" class="form-control" type="text" ng-model="lastname"><br>
	<label for="username">Käyttäjätunnus</label>
	<input id="username" class="form-control" type="text" ng-model="username"><br>
	<label for="birthday">Syntymäaika</label>
	<input id="birthday" class="form-control" type="date" ng-model="birthday"><br>
	
	<label for="schoolselect">Koulu</label>
	<select id="schoolselect" class="form-control" ng-model="school" ng-options="school.schoolID as school.name for school in schoolsList" 
	ng-change="changed()"></select><br>
	<span ng-show="school">
		<label for="classroomselect">Luokka</label>
		<select id="classroomselect" class="form-control" ng-model="classroom" 
		ng-options="classroom.classroomID as classroom.name for classroom in classroomsList"></select><br>
	</span>
	<label for="password1">Salasana</label>
	<input id="password1" class="form-control" type="password" ng-model="password"><br>
	<label for="password2">Sala uudestaan</label>
	<input id="password2" class="form-control" type="password" ng-model="passwordCheck"><br>
	<br><input type="button" class="btn btn-rova btn-block" value="Rekisteröidy" ng-click="onRegisterClick('login')"/>
</form>

<div ng-show="result" class="container alert alert-info">
	{{result}}<br>
</div>
<button class="astext" ui-sref="login">Onko sinulla jo tili? Kirjaudu sisään!</button><br>
</div>
</div class="row"></div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
