  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Profile picture upload</h4>
    </div>
    <div class="modal-body">
		<div>
			<button ng-click="cameraPic()">Camera</button>
      <input type="file" id="cover_upload" nv-file-select="" uploader="uploader" />
      <div ng-repeat="item in uploader.queue">
        <div class="cropAreaPhone">
          <img-crop result-image-size="300" image="item.image" result-image="item.croppedImage"></img-crop>
        </div>
        <div>
          <h3>Cropped Image:</h3>
          <div class="row">
            <img ng-src="{{item.croppedImage}}" />
          </div>
          <div class="row">
            <button class="col-md-12 btn btn-danger" type="button" ng-click="item.remove()">
                Delete
            </button><br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
        </div>
      </div>
			<button ng-disabled="uploader.queue.length == 0"
      type="button" data-dismiss="modal" ng-click="uploader.uploadAll()">
          Send
      </button>
		</div>
    </div>

    <div class="row"></div>
    <div class="modal-footer">
    </div>
  </div>